<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_jewel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{66,1},{43,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_roomcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{63,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn_jewel.png</string>
            <key>size</key>
            <string>{102,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed74cf2ede9af52ef8481c77a6488f4:67ba4308bdae2f83dc175e7590cec798:032e6a692439b33c006970ae0f79d57c$</string>
            <key>textureFileName</key>
            <string>btn_jewel.png</string>
        </dict>
    </dict>
</plist>
